@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: rgb(15, 15, 15);
    font-family: 'GmarketSansMedium';
}

header {
    margin: 3%;
}

section {
    margin: 0 20% 0 20%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, minmax(100px, auto));
    justify-content: center;
    gap: 20px;
}

article {
    width: 300px;
    margin: 5%;
    color: #fff;
    border-radius: 15px 15px 0 0;
}

article img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.myClass {
    background-color: #fff;
    border-radius: 0 0 15px 15px;
    color: black;
    padding: 5%;
}

.search_wrapper {
    position: relative;
    top: 50%;
    left: 80%;
    background-color: #618264;
    width: fit-content;
    height: 40px;
    padding: 10px 10px 10px 30px;
    border-radius: 40px;
}
.search {
    background-color: #618264;
    color: #fff;
    padding: 0;
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 15px;
    line-height: 40px;
}

.search-btn {
    color: #ffffff;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #618264;
    background: #949ba000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_wrapper input::placeholder {
    color: #ffffff;
    font-family: 'GmarketSansMedium';
}
